<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:property-placeholder properties-ref="properties"/>

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages"/>
        <property name="defaultEncoding" value="${source.encoding}"/>
    </bean>

    <bean id="wurflHolder" class="net.sourceforge.wurfl.core.GeneralWURFLEngine">
        <!--constructor-arg index="0" value="classpath:/web_browsers_patch.xml" /-->
        <constructor-arg index="0" value="classpath:/wurfl/wurfl-latest.zip" />
        <!-- <constructor-arg index="1" value="<< patch here >>"/> -->
        <!-- <constructor-arg index="2" value="<< more patches here >>"/> -->
    </bean>

</beans>